<div class="container" ng-controller="KeysController">

    <div layout="column" layout-align="start stretch">
        <div class="page-header">
            <h1>Cadastrar Sala</h1>
        </div>

        <form id="salaform">
            <!-- Nome -->
            </br>
            <div>
                <label for="nome"> Sala: </label>
                <input name="nome" type="text" ng-model="Chave.sala" placeholder="Nome" required> &emsp;&emsp;&emsp; 
            
               
        
            <!-- Escola 
                <label for="matricula"> Matrícula: </label>
                <input name="matricula" type="text" ng-model="aluno.matricula" ng-keyup="addCampo()" placeholder="Matrícula" required> 
            </div>

            <!-- Escola -->
            
                
                <!-- O ng-model representa o valor que será enviado ao controller para submissão ao serviço -->
                    <!-- A listas escolas é inicializada no controller pela função carregamentoInicial -->
                

            <!-- Botão de envio -->
                
            <div>
                </br>&emsp;&emsp; 
                <button class="btn btn-primary" ng-click="cadastrarChave()">
                    Adicionar Sala
                </button>
            </div>
        </form>
    </div>
</div>